#tudo{
    background-image: url(../img/Fundo2.jpg);

}

#tudo_sobre{
    background-image: url(../img/Fundo2.jpg);
    height:175vh;
}

#tudo_loja{
    background-image: url(../img/Fundo2.jpg);
    height:245vh;
}
